useDynLib(hgwrr, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "aggregate", "as.formula", "fivenum")
importFrom("utils", "tail")
export(hgwr)
export(print.hgwrm)
export(coef.hgwrm)
export(fitted.hgwrm)
export(residuals.hgwrm)
export(summary.hgwrm)
export(print.summary.hgwrm)

S3method(print, hgwrm)
S3method(coef, hgwrm)
S3method(fitted, hgwrm)
S3method(residuals, hgwrm)
S3method(summary, hgwrm)
S3method(print, summary.hgwrm)
